/* This custom Squeekboard layout is created by Ick and is published under GNU GPL 3.0 or later. */
/* This file is created to optimize Ick's Squeekboard layout with 175% screen scale. */


sq_view {
    font-size: 25.7px;
}
sq_view sq_button {
    border-width: 0px;
    border-radius: 4.3px;
    margin: 1.7px;
}
#Control,
#Alt,
#Super,
#Menu,
#preferences,
sq_button.courser_ctrl {
    font-size: 15.4px;
}
sq_button.view_switch,
sq_button.view_switch_wide,
sq_button.view_switch_base,
#return_terminal,
sq_button.altline {
    font-size: 12.9px;
}
sq_button.wide_keys,
sq_button.funktional_keys,
sq_button.other_keys,
#view_math.wide,
#‑,
#DoubleAmpersand {
    font-size: 21.4px;
}